<div class="container-fluid text-black-50 p-5 footer">
    <div class="container">
        <div class="row g-0">
            <div class="col-sm-12 col-md-3 text-center text-sm-center text-md-start g-0">
                <p class="py-3">[ logo ]</p>
            </div>
            <div class="row col-sm-6 col-md-6 text-center text-md-start g-0 pb-3">
                {% if page.country %}
                <p class="text-uppercase fw-bold py-3">Quick Links</p>
                <div class="col-md-6 g-0">
                    <ul class="navbar-nav">
                        {% assign sitemap_pages_left = site.pages | where_exp: "item", "item.sitemap == 'left'" | where_exp: "item", "item.country == page.country" | sort: "sort" %}
                        {% for p in sitemap_pages_left %}
                            <li class="nav-item"><a class="nav-link py-1" href="{{p.url}}">{{p.title}}{% if p.is-country-root %} Home{% endif %}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 g-0">
                    <ul class="navbar-nav">
                        {% assign sitemap_pages_right = site.pages | where_exp: "item", "item.sitemap == 'right'" | where_exp: "item", "item.country == page.country" | sort: "sort" %}
                        {% for p in sitemap_pages_right %}
                        <li class="nav-item"><a class="nav-link py-1" href="{{p.url}}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-3 text-center text-md-start g-0 pb-3">
                <p class="text-uppercase fw-bold py-3">Stay in Touch</p>
                <p>Follow us on:</p>
                <p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </p>
            </div>
            <div class="col text-center text-sm-center text-md-start g-0">
                <p class="py-3">Copyright &copy; 2023 {{site.title}}. Registered in England and Wales, UK. All rights reserved.</p>
            </div>        
        </div>
    </div>
    
</div>