<nav class="navbar navbar-expand-lg  shadow-none ps-2 ps-sm-0">
<div class="container">
    {% assign home-url = "/" %}
    {% assign hp = site.pages | where_exp: "item", "item.is-country-root" | where_exp: "item", "item.country == page.country" | first %}
    {% assign home-url = hp.url %}
    
{% include logo.html %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto pt-3 py-md-2">
{% include navleft.html %}
</ul>
<ul class="navbar-nav d-none d-xl-flex py-2">
{% include navright.html %}
</ul>
</div>
</div>
</nav>