{% assign sorted_pages = site.pages | where:"nav", "right" | sort: "sort" %}
{% for p in sorted_pages %}
  <li class="nav-item">
    <a class="nav-link px-3 px-sm-3 px-md-3 py-4 py-md-3" href="{{p.url}}">{{p.title}}</a>
  </li>
{% endfor %}
{% if page.country %}
<li class="nav-item">
  <a class="nav-link pb-3 py-md-2 fs-4" href="/">
    <i class="flag flag-{{page.country | downcase | replace: ' ', '-'}}"></i>
    {{page.country}}
    - <span class="text-decoration-underline">change</span>
  </a>
</li>
{% endif %}